version: '3.3'

services:
  wrf-runs:
    image: mullenkamp/wrf-era5-runs:1.1
    # user: ${MY_UID}:${MY_GID}
    volumes:
        - "/home/mike/git/wrf-repos/wrf-era5-runs/ndown/parameters.toml:/app/parameters.toml"
        # - '~/data/wrf/tests/test2:/data'

